    <!-- Footer -->
    <footer class="py-5 bg-primary">
        <div class="container">
            <p class="m-0 text-center text-white">
                Photalk
                <br>(평일 10:00~17:00, 점심시간 12:00~13:00)
                <br>주식회사XXX 사업자 등록번호 XXX-XXX
                  통신판매업신고제 2016-XXX
                <br>주소 서울특별시 종로구
                문의메일 201710911@sangmyung.kr
                <br>Copyright &copy; Do It Django A to Z 2021
            </p>
        </div>
        <!-- /.container -->
    </footer>