{% extends 'blog/base.html' %}

{% block title %}
    <title>notice_list</title>
{% endblock %}

{% block main_area %}

    <h4>게시판</h4>
    <table class="table table-striped">
  <thead>
    <tr>
      <td></td>
      <td>게시판 이름</td>
        <td>글 수</td>
    </tr>
  </thead>
  <tbody>
  {% for c in categories %}
    <tr>
      <th scope="row"></th>
      <td>
          <a href="{{ c.get_absolute_url }}">
              <h4 style="color:black;">{{ c.name }}</h4>
          </a>
      </td>
      <td>
          ({{ c.post_set.count }})
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}