{% extends 'blog/base.html' %}

{% block title %}
    <title>Photalk</title>
{% endblock %}

{% block main_area %}
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="https://picsum.photos/800/600" alt="random_image">
            <div class="card-body">
                <h5 class="card-title">공유하세요</h5>
                <p class="card-text"></p>
                <a href="blog/"><p class="card-text"><small class="text-muted">게시판 목록으로 가기</small></p></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://picsum.photos/670/600" alt="random_image">
            <div class="card-body">
                <h5 class="card-title">이야기를 나누세요</h5>
                <p class="card-text"></p>
                <a href="blog/"><p class="card-text"><small class="text-muted">게시판 목록으로 가기</small></p></a>
            </div>
        </div>
    <div class="card">
            <img class="card-img-top" src="https://picsum.photos/830/600" alt="random_image">
            <div class="card-body">
                <h5 class="card-title">자랑하세요</h5>
                <p class="card-text"></p>
                <a href="blog/"><p class="card-text"><small class="text-muted">게시판 목록으로 가기</small></p></a>
            </div>
        </div>
    <div class="card">
            <img class="card-img-top" src="https://picsum.photos/700/600" alt="random_image">
            <div class="card-body">
                <h5 class="card-title">추천해주세요</h5>
                <p class="card-text"></p>
                <a href="blog/"><p class="card-text"><small class="text-muted">게시판 목록으로 가기</small></p></a>
            </div>
        </div>
    <div class="card">
            <img class="card-img-top" src="https://picsum.photos/600/600" alt="random_image">
            <div class="card-body">
                <h5 class="card-title">힐링하세요</h5>
                <p class="card-text"></p>
                <a href="blog/"><p class="card-text"><small class="text-muted">게시판 목록으로 가기</small></p></a>
            </div>
        </div>
    </div>

{% endblock %}